/* fonts for english text */
@font-face {
    font-family: 'sourcesanspro-bold';
    src: url('../fonts/sourcesanspro-bold-webfont.eot');
    src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-bold-webfont.svg#sourcesanspro-bold-webfont') format('svg');
}
@font-face {
    font-family: 'sourcesanspro-extralight';
    src: url('../fonts/sourcesanspro-extralight-webfont.eot');
    src: url('../fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-extralight-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-extralight-webfont.svg#sourcesanspro-extralight-webfont') format('svg');
}
@font-face {
    font-family: 'sourcesanspro-regular';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#sourcesanspro-regular-webfont') format('svg');
}
/* fonts for icons*/
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
		 url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
		 url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		 url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
	position:relative;
	top:1px;
	display:inline-block;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.glyphicon-menu-left:before {
	content: "\e257";
}
.glyphicon-menu-right:before {
	content: "\e258";
}
/* reset*/
html {
	font-family: sourcesanspro-regular,"微软雅黑", "宋体";
	font-size: 14px;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body{
	overflow: hidden;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
textarea {
	resize: none;
	overflow: hidden;
}
a {
	cursor: pointer;
}
button:focus,
input:focus,
textarea:focus {
	outline: 0 none;
}
.none {
	display: none;
}
.clearB {
	clear: both;
}
.elipT {
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
/* cover */
#cover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 998;
	display: none;
}
#cover .cover-close {
	position: absolute;
	top: 30px;
	right: 50px;
	width: 24px;
	height: 24px;
	background: transparent url(../img/static/lightbox.close.off.png) center no-repeat;
	cursor: pointer;
}
/* cover-wechat */
#cover-wechat {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -86px;
	margin-left: -215px;
	text-align: center;
	z-index: 1000;
	display: none;
}
#cover-wechat .wechat-qrcode {
	display: inline-block;
	width: 172px;
	height: 172px;
	background: transparent url(../img/static/qr_code-wechat@2x.png) center no-repeat;
	background-size: 172px 172px;
	border-radius: 5px;
	margin-right: 30px;
	vertical-align: middle;
}
#cover-wechat .wechat-desc {
	display: inline-block;
	width: 225px;
	text-align: left;
	vertical-align: middle;
}
#cover-wechat .wechat-header1 {
	font-family: sourcesanspro-bold;
	font-size: 15px;
	color: #fff;
	letter-spacing: 0.25px;
	line-height: 17px;
	margin-bottom: 10px;
}
#cover-wechat .wechat-header2 {
	font-family: sourcesanspro-regular;
	font-size: 12px;
	color: #fff;
	line-height: 19px;
}
#cover-location {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -280px;
	margin-left: -350px;
	z-index: 1000;
	display: none;
}