#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: #1abc9c;
}
#login {
	position: relative;
	width: 315px;
	height: 100%;
	margin: 0 auto;
}
.login-form {
	position: absolute;
	top: 30%;
	left: 0;
	padding: 20px;
	background-color: #eceff1;
	border-radius: 5px;
}
.login-form .login-item {
	position: relative;
	margin-bottom: 15px;
}
.login-form .login-item:last-child {
	position: relative;
	margin-bottom: 0;
}
.login-form .login-item .login-account,
.login-form .login-item .login-password,
.login-form .login-item .login-submit {
	width: 230px;
	padding: 8px 32px 8px 10px;
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	color: #34495e;
}
.login-form .login-item .login-submit {
	width: 274px;
	background-color: #1abc9c;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.login-form .login-item .login-account:focus,
.login-form .login-item .login-password:focus {
	border-color: #1abc9c;
}
.login-form .login-item .login-submit:hover {
	background-color: #2fe2bf;
}
.login-form .login-item .login-account-icon,
.login-form .login-item .login-password-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 16px;
	color: #bfc9ca;
}
.login-form .login-item .login-error {
	display: none;
	background-color: red;
	color: #fff;
	text-align: center;
	line-height: 1.5;
}
