html {
	font-family: "微软雅黑", "宋体" ,"Times New Roman", Times, serif;
	font-size: 14px;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body{
	overflow: hidden;
	-webkit-user-select: none;
	   -moz-user-select: none;
}
body,
div,
p,
ul,
span,
button,
a,
input,
label,
img,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
textarea {
	resize: none;
	overflow: hidden;
}
a {
	cursor: pointer;
}
button:focus,
input:focus,
textarea:focus {
	outline: 0 none;
}
.none {
	display: none;
}
.clearB {
	clear: both;
}
.textElip {
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.btn {
	display: inline-block;
	padding: 8px 15px;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	background-color: #323232;
	border-radius: 5px;
	border: 1px solid #1a1919;
}